@mixin main {
	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: $main_font;
		font-weight: 200;
	}
}
@mixin linkStyle {
	text-decoration: none;
	color: $main_text_color;
	&:visited { text-decoration: none; color: $main_text_color}
	&:focus { text-decoration: none; color: $main_text_color}
	&:active { text-decoration: none; color: $main_text_color}
	&:hover { text-decoration: none;}
} 
